<footer>

    <div class="foot-grid-container">
        <div class="footbox1">
            Office: (403) 555-5555
        </div>

        <div class="footbox2">
            <p><u>Hours</u></p>
            <p>
            <span style="float:left">Monday - Friday</span> <span style="float:right">9:00 AM to 6:00 PM</span>  </br>
            <span style="float:left">Saturday</span> <span style="float:right">11:00 AM to 4:00 PM</span> </br>
            <span style="float:left">Sunday</span> <span style="float:right">Closed</span> </p>
        </div>

        <div class="footbox3">
            <a href="/jobs">Career Opportunities</a>
        </div>

        <div class="footbox4">
            Follow us <br/> <br/>
            <a href="https://facebook.com"> <img src="/media/icons/FacebookLogoTransparent.png" alt="Logo failed"> </a> &#160; &#160;
            <a href="https://www.instagram.com/"> <img src="/media/icons/InstagramLogoTransparent.png" alt="Logo failed"> </a>
        </div>

        <div class="footbox5">
             <a href="/employees">Employees</a>
        </div>

        <div class="footbox6"><!-- Intentionally Empty--> </div>

        <div class="footbox7"><!-- Intentionally Empty--> </div>

        <div class="footbox8">
            &copy; Travel Experts 2021
        </div>

    </div>

</footer>

</div>