<footer>

    <div class="foot-grid-container">
        <div class="footbox1">
            Office: (403) 555-5555
        </div>

        <div class="footbox2" style="line-height: 1.6;">
            External Sites: <br/> AMAtravel.ca <br/> CrowfootTravel.com <br/>
        </div>

        <div class="footbox3">
            <a href="/jobs">Careers Opportunities</a>
        </div>

        <div class="footbox4">
            Follow us <br/> <br/>
            <a href="https://facebook.com"> <img src="media/icons/FacebookLogo.png" alt="Logo failed"> </a> &#160; &#160;
            <a href="https://www.instagram.com/"> <img src="media/icons/InstagramLogo.png" alt="Logo failed"> </a>
        </div>

        <div class="footbox5">
             <a href="/employees">Employees</a>
        </div>

        <div class="footbox6"><!-- Intentionally Empty--> </div>

        <div class="footbox7"><!-- Intentionally Empty--> </div>

        <div class="footbox8">
            &copy; Travel Experts 2021
        </div>

    </div>

</footer>

</div>