<header id="page-header">
    <a class="logo" href="/"> <img src="media/icons/TempLogo.jpg" alt="Home Logo failed to load" style="float:left"></a>
    <span style="font-size: 50px; color: gray;"><b><i>Travel Experts</i></b></span>

    <nav>
        <a class="links" href="/Packages">Vacation Packages</a>
        <a class="links" href="/Registration">Registration</a>
        <a class="links" href="/Contact">Contact Us</a>
    </nav>

    <a class="login" href="/login">Login</a>
</header>
