<!-- This page should only contain the code for the header of the page, like the logo, title, and navigation menu.
-->
<header>
    <h1>&gt;</h1>
</header>

<nav>
    <ul>
        <li>Home</li>
        <li>Vacations</li>
        <li>About Us</li>
        <li>Contact</li>
    </ul>
</nav>