<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Travel Experts</title>
        <%- include('stylesheets') %>
        <%- include('scripts') %>
    </head>

    <body>
        <%- include('header') %>

        <section id="main-content">
            Filler Text Top
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            Filler Text
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            Filler Text Bottom
        </section>


        <%- include('footer') %>
    </body>

</html>