<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel = "icon" href = "../media/icons/TempLogo.jpg"></link>
        <title>Register</title>
        <%- include('stylesheets') %>
        <script>
            let fieldInfo = ["Enter First Name", "Enter Last Name", "Postal Code format is 'A9A 9A9'", "Enter Address", "Enter City", "Enter Country", "Enter Home Phone", "Enter Business Phone", "Enter Email"];

            function showInfo(index)
            {
                let para = document.getElementById("info");
                para.innerHTML = fieldInfo[index];
                para.style.visibility = "visible";
            }

            function hideInfo()
            {
                let para = document.getElementById("info");
                para.innerHTML = "";
                para.style.visibility = "hidden";
            }

            function validate()
            {
                document.getElementById("message").innerHTML = "";
                let form1 = document.forms[0];
                let message = "";

                if (form1.CustFirstName.value == "")
                {
                    message += "First name must have a value;  ";
                    form1.CustFirstName.focus();
                }

                if (form1.CustLastName.value == "")
                {
                    message += "Last name must have a value;  ";
                    form1.CustLastName.focus();
                }

                if (form1.CustPostal.value == "")
                {
                    message += "Postal Code must have a value;  ";
                    form1.CustPostal.focus();
                }
                else
                {
                    let myPostal = form1.CustPostal.value;
                    form1.CustPostal.value = myPostal.toUpperCase();
                    let regPostal = /^[a-z]\d[a-z][ -]?\d[a-z]\d$/i;
                    if (!regPostal.test(form1.CustPostal.value))
                    {
                        message += "Postal code has invalid format;  ";
                        form1.CustPostal.focus();
                    }
                }

                if (form1.CustAddress.value == "")
                {
                    message += "Address must have a value;  ";
                    form1.CustAddress.focus();
                }

                if (form1.CustCity.value == "")
                {
                    message += "City must have a value;  ";
                    form1.CustCity.focus();
                }

                if (form1.CustCountry.value == "")
                {
                    message += "Country must have a value;  ";
                    form1.CustCountry.focus();
                }

                if (form1.CustHomePhone.value == "")
                {
                    message += "Home Phone must have a value;  ";
                    form1.CustHomePhone.focus();
                }

                if (form1.CustBusPhone.value == "")
                {
                    message += "Business Phone must have a value;  ";
                    form1.CustBusPhone.focus();
                }

                if (form1.CustEmail.value == "")
                {
                    message += "Email must have a value;  ";
                    form1.CustEmail.focus();
                }

                else
                {
                    let myEmail = form1.CustEmail.value;
                    let regEmail = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
                    if (!regEmail.test(form1.CustEmail.value))
                    {
                        message += "Invalid email;  ";
                        form1.CustEmail.focus();
                    }
                }

                if (message != "")
                {
                    document.getElementById("message").innerHTML = message;
                }

                else
                {
                    if (confirm("Form values are okay. Continue Submitting?"))
                    {
                        form1.submit();
                    }
                }
            }
        </script>
        <style>
            #info {
                position: absolute;
                top: 350px;
                left: 400px;
                background-color: violet;
                font-size: larger;
                z-index: 1;
            }

            body {
                background-image: url("../media/images/background.png");
            }

            #message {
                color:white;
                background-color: crimson;
                position: absolute;
                top: 200px;
                z-index: 1;
            }

            #sky {
                position: absolute;
                right: 10px;
                top: 100px;
                max-width: 60%;
                height: auto;
                z-index: 0;
            }
        </style>
    </head>
    <body>
    <%- include('header') %>
    <section id="main-content">
    <h1 style="text-decoration:underline; text-decoration-color:orange; color:rgb(59, 15, 59)">Registration</h1>
    <p id="message"></p>
    <p id="info"></p>
    <br /><br /><br />
    <form method="post" action="/register/newcustomer" id="regiform">
        First Name:<input type="text" name="CustFirstName" id="CustFirstName" onfocus="showInfo(0)" onblur="hideInfo()"/><br />
        Last Name:<input type="text" name="CustLastName" id="CustLastName" onfocus="showInfo(1)" onblur="hideInfo()"/><br />
        Postal Code:<input type="text" name="CustPostal" id="CustPostal" onfocus="showInfo(2)" onblur="hideInfo()"/><br />
        Address:<input type="text" name="CustAddress" id="CustAddress" onfocus="showInfo(3)" onblur="hideInfo()"/><br />
        City:<input type="text" name="CustCity" id="CustCity" onfocus="showInfo(4)" onblur="hideInfo()"/><br />
        <label for="CustProv">Province: </label>
        <select name="CustProv" id="CustProv">
            <option value="AB">Alberta</option>
            <option value="BC">British Columbia</option>
            <option value="MA">Manitoba</option>
            <option value="NB">New Brunswick</option>
            <option value="NF">Newfoundland/Labrador</option>
            <option value="NT">Northwest Territories</option>
            <option value="NS">Nova Scotia</option>
            <option value="NU">Nunavut</option>
            <option value="ON">Ontario</option>
            <option value="PE">Prince Edward Island</option>
            <option value="QU">Quebec</option>
            <option value="SA">Saskatchewan</option>
            <option value="YU">Yukon</option>
        </select><br />
        Country:<input type="text" name="CustCountry" id="CustCountry" onfocus="showInfo(5)" onblur="hideInfo()"/><br />
        Home Phone:<input type="text" name="CustHomePhone" id="CustHomePhone" onfocus="showInfo(6)" onblur="hideInfo()"/><br />
        Business Phone:<input type="text" name="CustBusPhone" id="CustBusPhone" onfocus="showInfo(7)" onblur="hideInfo()"/><br />
        Email:<input type="text" name="CustEmail" id="CustEmail" onfocus="showInfo(8)" onblur="hideInfo()"/><br />
        <label for="AgentId">Agent Name: </label>
        <select name="AgentId" id="AgentId">
            <option value="1">J.Delton</option>
            <option value="2">J.Lisle</option>
            <option value="3">D.Reynolds</option>
            <option value="4">J.Coville</option>
            <option value="5">F.Smith</option>
            <option value="6">B.Dixon</option>
            <option value="7">B.Jones</option>
            <option value="8">J.Merill</option>
            <option value="9">B.Peterson</option>
        </select><br /><br />
        <button type="button" onclick="validate()">Register</button>
        <button type="reset" onclick="return confirm('Reset form?');">Reset</button>
    </form>
    </section>
    <%- include('footer') %>
    </body>
</html>