/* This file is for global CSS style rules that apply on every page of the website */

/* Universal styles */
* {
    transition: ease all 0.5s;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: "Noto Sans", sans-serif;
    background-color: rgb(194, 233, 254);
}

/* header styles */
#page-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    border-bottom: 0.15em solid #fa5c29;
    margin-bottom: 1em;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: deepskyblue;
}

#page-header > span {
    display: block;
    justify-self: center;
    align-self: center;
    text-align: center;
    vertical-align: middle;
}
#page-header > nav {
    display: grid;
    grid-template-columns: auto auto auto;
}
#page-header > nav > .links {
    display: block;
    padding: 40px 20px;
    color: #555555;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

#page-header .login {
    color:black;
    display: block;
    text-align: right;
    margin-right: 1em;
    margin-top: 1em;
}

.links:hover {
    background-color: #00aae6
}

/* footer styles */
footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    background-color: deepskyblue;
    border-style: double;
    border-radius: 5px;
    border-color: #fa5c29;
}

footer div {
    width:30%;
    height: 90%;
    display:inline-block;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#external{
    float:left;
}

li a{
    display: block;
    color: #fa5c29;
    text-align: center;
    padding: 20px 20px 40px;

}

li a:hover {
    background-color: #00aae6
}