/* This file is for global CSS style rules that apply on every page of the website */

/* Universal styles */
* {
    transition: ease all 0.5s;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: "Noto Sans", sans-serif;
}

/* header styles */
header {
    width: 10vw;
    height: 10vw;
    display: grid;
    background-color: #1f1f1f;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: none;
}
html, body {
    width: 100vw;
    height: 100vh;
}
body > nav {
    visibility: hidden;
    width: 50vw;
    position: fixed;
    top: 10vw;
    left: 0;
    background-color: #f1f1f1;
}
body > nav ul {
    display: grid;
    grid-template-rows: min-content;
    justify-self: center;
    align-self: center;
}
body > nav ul li {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 1em 0 1em 0;
    cursor: pointer;
}
body > nav ul li:hover {
    background-color: darkgray;
}
header h1 {
    color: aliceblue;
    justify-self: center;
    align-self: center;
}

#main-content {
    margin-top: 10vw;
}
/* footer styles */
footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    background-color: deepskyblue;
    border-style: double;
    border-radius: 5px;
    border-color: #fa5c29;
}

footer div {
    width:30%;
    height: 90%;
    display:inline-block;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#external{
    float:left;
}

li a{
    display: block;
    color: #fa5c29;
    text-align: center;
    padding: 20px 20px 40px;

}

li a:hover {
    background-color: #00aae6
}